<nav class="navbar bg-body-tertiary navbar-expand-lg">
    <div class="container">
        <a [routerLink]="['']" class="navbar-brand">Videos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> </span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item px-2">
                    <a [routerLink]="['']" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item px-2">
                    <a [routerLink]="['videosfavoritos']" class="nav-link">Videos Favoritos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>