<div class="text-center text-primary">
  <h2>Videos</h2>
  <!--de YouTube-->
</div>
<nav class="navbar bg-body-tertiary mb-3">
  <div class="container-fluid justify-content-center">
    <form method="post" class="d-flex" role="search" #f="ngForm" (ngSubmit)="f.form.valid && buscarVideos()">
      <input type="search" name="palabraClaveTemp" class="form-control me-2"
        required [(ngModel)]="palabraClaveTemp" #palabraClave="ngModel"/>
      @if (palabraClave.invalid && palabraClave.touched) {
        <div class="text-danger">
            Se necesita ingresar un texto. 
        </div>
      }
      <button type="submit" class="btn btn-outline-primary">Buscar</button>
    </form>
  </div>
</nav>
<div class="row justify-content-center">
  @for(item of video?.items; track item.id) {
  <div class="card bg-light mb-3" style="width: 50%">
    <div class="text-center mt-2" [innerHTML]="obtenerVideo(item)"></div>
    <div class="card-body">
      <h5 class="card-title">{{ item.snippet.title }}</h5> 
      <button class="btn btn-primary" (click)="agregarEnFavoritos(item)">Agregar a Favoritos</button>
      <p class="card-text">
        {{ item.snippet.description }}
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ item.snippet.channelTitle }}</li>
      <li class="list-group-item">{{ item.statistics.viewCount | number }}</li>
      <!--<li class="list-group-item">A third item</li>-->
    </ul>
  </div>
  <hr />
  }
  <nav aria-label="...">
    <ul class="pagination pagination-lg justify-content-center">
      <li class="page-item" [ngClass]="{'disabled': btnPaginaAnterior === false}"><!--disabled-->
        <a class="page-link" href="#" (click)="obtenerVideosAnteriores()">Anterior</a><!--tabindex="-1" aria-disabled="true"-->
      </li>
      <li class="page-item">
        <a class="page-link" href="#">{{ numPagina }}</a>
      </li>
      <li class="page-item" [ngClass]="{'disabled': btnPaginaSiguiente == false}">
        <a class="page-link" href="#" (click)="obtenerVideosSiguientes()">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>
